@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');
@import "tailwindcss";
@import "highlight.js/styles/github.css"; 

/* 設定全局字體變數 */
:root {
    --font-noto-sans-tc: 'Noto Sans TC', sans-serif;
}
html,
body {
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-size: 18px;
    font-family: var(--font-noto-sans-tc);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}


img {
    max-width: 100%;
    display: block;
}

.spoiler {
    background-color: #4b4b4bff;
    color: transparent;
    cursor: pointer;
    border-radius: 6px;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding:0 5px 0 5px;
}

.spoiler:hover {
    color: inherit;
    background-color: #d8d8d8ff;
}
