@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');
@import "tailwindcss";

/* 設定全局字體變數 */
:root {
    --font-noto-sans-tc: 'Noto Sans TC', sans-serif;
}
html,
body {
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-size: 18px;
    font-family: var(--font-noto-sans-tc);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}


img {
    max-width: 100%;
    display: block;
}
